# Python specific
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual environment
env-bms/

# macOS specific
.DS_Store
.AppleDouble
.LSOverride

# Environment variables
.env

# Pytest cache
.cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Databases
*.db
*.sql
